@model IEnumerable<HealthAndFinance.Entities.Concrete.HealthEntry>
@{
    ViewData["Title"] = "HealthAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sağlık Bilgileriniz</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Steps</th>
            <th>Calories Burned</th>
            <th>Sleep Hours</th>
            <th>Notes</th>
            <th>Weight</th>
            <th>Height</th>
            <th>BKI</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.Date</td>
                <td>@entry.Steps</td>
                <td>@entry.CaloriesBurned</td>
                <td>@entry.SleepHours</td>
                <td>@entry.Notes</td>
                <td>@entry.Weight</td>
                <td>@entry.Height</td>
                <td>@entry.BKI</td>
                <td>@entry.IsActive</td>
            </tr>
        }
    </tbody>
</table>